# Slicing

In [3]:
a = [22,33,44,55,66,77,88,99,100,998,880,90,]
a[2]
#doesn't remove from original
#eat pizza slices but doesnt end or add up to

44

In [4]:
# [::]three values
a[1:4]

[33, 44, 55]

In [6]:
a[:4]

[22, 33, 44, 55]

In [7]:
a[2:7:1] 
# 1 after second colon is "step"

[44, 55, 66, 77, 88]

In [8]:
a[2:7:2]
#will take 2 steps from starting position

[44, 66, 88]

# Tupple

In [9]:
t = ("ali", "ahmed", 33)
#small bracket unlike list
#tupples are immutable (values once assigned cant be changed)
#packing values

In [10]:
type(t)

tuple

In [11]:
t[1]

'ahmed'

In [12]:
t[1]="uzair"
#value will not change neither delete

TypeError: 'tuple' object does not support item assignment

In [13]:
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [14]:
a,b,c = t
#unpacking

In [15]:
a

'ali'

In [16]:
b

'ahmed'

In [17]:
c

33

In [18]:
a = "muzz"
a

'muzz'

In [19]:
t

('ali', 'ahmed', 33)

In [20]:
list = ["ali", "uzi", "akm"]
#unpacking in list

In [21]:
x,y,z = list

In [22]:
x

'ali'

In [23]:
z

'akm'

In [24]:
alist = list + list

In [25]:
alist

['ali', 'uzi', 'akm', 'ali', 'uzi', 'akm']

In [26]:
f = t+t
f

('ali', 'ahmed', 33, 'ali', 'ahmed', 33)

In [27]:
c = t[:2] + f

In [28]:
c

('ali', 'ahmed', 'ali', 'ahmed', 33, 'ali', 'ahmed', 33)

# Loopings

# for loop & while loop

In [29]:
students = ["ali", "muzz", "uzi", "akm"]
print(students) #IN THE FORM OF LIST

['ali', 'muzz', 'uzi', 'akm']

In [30]:
#FOR LOOP
for student in students:
    print(student)
    #picks up in the form of seperate elements(not in the form of a list)

ali
muzz
uzi
akm

In [31]:
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [2]:
for a in range(10):
    print(a, end=" ")

0 1 2 3 4 5 6 7 8 9

In [34]:
for a in range(1,10):
    print(a, end=" ")

1 2 3 4 5 6 7 8 9

In [35]:
for a in range(5,10):
    print(a, end=" ")

5 6 7 8 9

In [5]:
#EVEN
for a in range(0,10,2): #3rd perimeter is step
    print(a, end=" ")

0 2 4 6 8

In [37]:
#odd
for a in range(1,10,2):
    print(a, end=" ")

1 3 5 7 9

In [39]:
for a in range(10,0,-1):
    print(a, end=" ")
    #backward counting

10 9 8 7 6 5 4 3 2 1

In [40]:
for a in range(10,2,-1):
    print(a, end=" ")
    #(n-1)last one skips

10 9 8 7 6 5 4 3

In [45]:
#CLASS TASK
table = int(input("Enter a number which you want to have table of!"))
for num in range(1,11):
    print((f"{table}*{num} = {table*num}")

Enter a number which you want to have table of!11
11*1 = 11
11*2 = 22
11*3 = 33
11*4 = 44
11*5 = 55
11*6 = 66
11*7 = 77
11*8 = 88
11*9 = 99
11*10 = 110

In [47]:
table = int(input("Enter a number which you want to have table of!"))
for num in range(1,11):
    if num==6:
        break
    print(f"{table}*{num} = {table*num}")
    #break = stops before the num 6 come

Enter a number which you want to have table of!90
90*1 = 90
90*2 = 180
90*3 = 270
90*4 = 360
90*5 = 450

In [56]:
table = int(input("Enter a number which you want to have table of!"))
for num in range(1,11):
    if num==5:
        continue
    print(f"{table}*{num} = {table*num}")
    #continue = skips

Enter a number which you want to have table of!7
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
7*10 = 70

In [59]:
table = int(input("Enter a number which you want to have table of!"))
r = int(input("Enter the range!"))
for num in range(1,r):
    print(f"{table}*{num} = {table*num}")
    #user range bhi khud btaye
    #(n-1) ka scene hai

Enter a number which you want to have table of!4
Enter the range!7
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24

In [60]:
table = int(input("Enter a number which you want to have table of!"))
r = int(input("Enter the range!"))
for num in range(1,r+1):
    print(f"{table}*{num} = {table*num}")
    #(n-1) ka scene overcome krlia

Enter a number which you want to have table of!6
Enter the range!9
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54

In [65]:
#NESTED LOOP
first_names = ["a", "b", "c", "d"]
last_names = ["1","2","3","4","5"]
full_names = []

for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)
full_names

['a 1',
 'a 2',
 'a 3',
 'a 4',
 'a 5',
 'b 1',
 'b 2',
 'b 3',
 'b 4',
 'b 5',
 'c 1',
 'c 2',
 'c 3',
 'c 4',
 'c 5',
 'd 1',
 'd 2',
 'd 3',
 'd 4',
 'd 5']

In [69]:
for table_numbers in range(2,4):
    for num in range(1,11):
        print(f"{table_numbers}*{num} = {table_numbers*num}")

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30

In [1]:
table_numbers = int(input("Enter the table range!"))
for table_number in range(2,table_numbers+1):
    for num in range(1,11):
        print(f"{table_number}*{num} = {table_number*num}")

Enter the table range!4
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40

In [19]:
a = [13,56,17]
a.append([87,89,84])
a.extend([65,47])
print(a)

[13, 56, 17, [87, 89, 84], 65, 47]

In [20]:
is?

Object `is` not found.

In [45]:
word1 = 'apple'
word2 = 'apple'
list1 = [1,2,3]
list2 = [1,2,3]
print(word1 is word2)
print(list1 is list2)

True
False

In [46]:
l = list1.pop(2)
print(l)
print(list1)

3
[1, 2]

In [51]:
print("your fruit is "+word1+" and it is good.")

your fruit is apple and it is good.

In [39]:
id(word1)

99862656

In [40]:
id(word2)

99862656

In [32]:
id(list1)

108292424

In [33]:
id(list2)

108441800

In [56]:
list = ["ali", "uzi", "akm"]
list + list

['ali', 'uzi', 'akm', 'ali', 'uzi', 'akm']

In [57]:
T1 = ("ali", 123, "abc")

In [60]:
T1 + T1

('ali', 123, 'abc', 'ali', 123, 'abc')

In [62]:
from random import shuffle

In [64]:
shuffle(list)
print(list)

['akm', 'ali', 'uzi']

In [66]:
from random import *

In [68]:
li = sample(list,1)
print(li)

['uzi']

In [80]:
print(uniform(3,4))

3.9188454322109516

In [71]:
random = random()
print(random)

0.5141481174477601

In [75]:
print(randint(5,6))

6

In [81]:
list2 = [1,2,3]

In [82]:
a,b,c = list2

In [84]:
a = 2
a

2

In [85]:
list2

[1, 2, 3]

In [86]:
b = 25

In [87]:
list2

[1, 2, 3]

In [90]:
dic = {"ali":"uzi", "a":2}

In [91]:
dic["ali"]

'uzi'

In [92]:
dic[2]="al"

In [93]:
dic

{'ali': 'uzi', 'a': 2, 2: 'al'}

In [95]:
dic[2]='ni'

In [96]:
dic

{'ali': 'uzi', 'a': 2, 2: 'ni'}